<nav>
    <a href="/" class="logo">
        <h1>
            <span class="logo"><b>Chat</b>App</span>
        </h1>
    </a>
    <ul>
        <li class="nav-item">
            <a href="/login" class="nav-link" id="nav-link">Start Chatting</a>
        </li>
        <li class="nav-item">
            <a href="#about" class="nav-link" id="nav-link">About</a>
        </li>
        <li class="nav-item">
            <a href="https://github.com/Aymen-Dev-tech" target="_blank" class="github-link" id="nav-link">My GitHub</a>
        </li>
    </ul>

</nav>
<section class="hero">
    <div class="intro-text">
        <h2 class="chat">
            Have your <br />
            best chat.
        </h2>
        <p>
            Fast, easy & unlimitted chatting.
        </p>
        <a class="btn green" href="/login">Start</a>
        <a class="btn blue" href="#">Subscribe</a>
    </div>
    <div class="hero images">
        <img src="/images/hero.svg" alt="hero">
    </div>
</section>